# App
PORT=3000
LOG_DIR=./logs
NODE_ENV=development

# Redis (cache)
REDIS_HOST=cache
REDIS_PORT=6379


# Payment
NALO_HOST=http://localhost
NALO_MERCHANT=
NALO_SECRET_KEY=
NALO_AUTH_KEY=
NALO_CALLBACK_URL=http://localhost